::selection {
  background-color: #00dc82;
  color: white; /* Optional: Change the text color to white for better visibility */
}
body {
  background-color: rgb(19, 21, 23);
  background-color: rgba(52, 53, 65);
  background-color: #161616;
}

.title__font {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: rgb(236, 236, 241);
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #d9d9d9;
  color: rgba(142,142,160);
}

.router-link-active.router-link-exact-active {
  background-color: rgba(64, 65, 79);
  /* border: 1px solid rgba(78, 79, 96); */
  color: rgba(236, 236, 241);
}

.router-link-active.router-link-exact-active .material-symbols-sharp {
  color: #00dc82;
}

.material-symbols-sharp {
  font-size: 18px;
}
button {
  border: none;
  outline: none;
}
.snippet {
  font-size: 0.86rem;
  line-height: 1.65;
  font-weight: 300;
  color: rgb(209, 213, 219);
}

.glass__border {
  background-color: rgb(30,30,30);
  outline: 1px solid rgb(84,84,84);
  border-radius: 0.75rem;
  padding: 0.25rem;
  padding: 16px;
}
.rule {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: rgb(84,84,84);
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  gap: 8px;
  outline: none;

  height: 48px;
  width: 100%;

  /* White */

  background: transparent;
  /* Grey/Grey4 */

  border: 1px solid rgb(84,84,84);
  border-radius: 8px;
}



.input:hover {
  border-color:  rgb(152, 152, 152);
}

.input:active,
.input:focus {
  border: 2px solid rgb(189, 189, 189);
}


.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}